.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  border: 5px solid #007bff; /* thick blue border */
  border-radius: 0.25rem; /* rounded corners */
}
.card-body {
  padding: 20px; /* add padding around the content inside the card */
}
.pricing-box {
  background-color: #007bff; /* fill empty space with blue color */
}

.pricing-box {
  background-color: white; /* background color of the outer box */
  padding: 20px; /* space between the outer box and inner boxes */
}

.pricing-box .inner-box {
  background-color: #007bff; /* background color of the inner boxes */
  border-radius: 5px; /* rounded corners */
}

